<!-- <header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light d-flex flex-nowrap">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="p-2 text-dark" *ngIf="!isSignedIn" routerLink="/login">Log in</a>
                </li>
                <li class="nav-item">
                    <a class="p-2 text-dark" *ngIf="!isSignedIn" routerLink="/register">Register</a>
                </li>
            </ul>
          </div>
          <button class="btn btn-link ms-auto" (click)="signOut()" *ngIf="isSignedIn">Log out</button>
        </div>
      </nav>
</header> -->

<header class="d-flex w-100 justify-content-between container">
  <ng-container *ngIf="!isList; else list">
    <a [routerLink]="['dashboard']">
      <svg class="svg-icon" focusable="false">
        <use xlink:href="assets/icons/home-active.svg#Ebene_1"></use>
      </svg>
    </a>
    <a [routerLink]="['shoppinglist']">
      <svg class="svg-icon" focusable="false">
        <use xlink:href="assets/icons/shoppinglist-inactive.svg#Ebene_1"></use>
      </svg>
    </a>
  </ng-container>

  <ng-template #list>
    <a [routerLink]="['dashboard']">
      <svg class="svg-icon" focusable="false">
        <use xlink:href="assets/icons/home-inactive.svg#Ebene_1"></use>
      </svg>
    </a>
    <a [routerLink]="['shoppinglist']">
      <svg class="svg-icon" focusable="false">
        <use xlink:href="assets/icons/shoppinglist-active.svg#Ebene_1"></use>
      </svg>
    </a>
  </ng-template>
</header>