.form-group {
    margin-bottom: 1.5rem;

}

.last-entry {
    margin-bottom: 2.5rem;
}

.form-control {
    height: 35px;
    border: 1px solid;
    border-color: var(--light-grey)!important;
    font-size: var(--font-size-body)!important;
    color: var(--grey);

}

.btn {
    width: 100%;
    padding: .7rem 5rem;
    font-size: var(--font-size-body);
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0px 1px 10px var(--box-shadow);
    background-color: var(--orange);
    border-color: var(--orange);
    color: #fff;
    margin-inline: auto;
}