<form *ngIf="this.isShoppingList" class="form-group" [formGroup]="productSearchGrp">
  <label for="product">Produkt-Suche</label>
  <div class="search-wrapper">
      <input class="form-control" type="text" name="product" id="product" formControlName="productSearch">
      <button class="reset-btn" type="reset" (click)="reset()">
          <svg class="svg-icon rotate-45" focusable="false">
            <use xlink:href="assets/icons/add-thin.svg#Ebene_1"></use>
          </svg>
      </button>

    <div *ngIf="searchResults" class="search__results">
      <a *ngFor="let result of searchResults" class="d-block search__results__link" href="#" (click)="selectItem($event, result)">
        <span>
          {{ result.name }}
          <span class="product-category">
            ({{ result.category_name }})
          </span>
        </span>
      </a>
    </div>
  </div>

</form>

<form [formGroup]="addProductsForm" (submit)="submitForm()">
    <div class="form-group">
        <label for="name">Produkt</label>
        <input class="form-control" type="text" name="name" id="name" formControlName="name">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Kategorie</label>

          <select class="form-control" id="exampleFormControlSelect1" formControlName="category_id">         
             <option selected hidden disabled value="null"></option>
             <option *ngFor="let category of this.categories" value="{{ category.id }}">{{ category.name }}</option>
        </select>
    </div>
    <div class="form-group last-input">
      <label for="count">Anzahl</label>
      <input class="form-control" formControlName="count" id="count" name="count" type="number">
    </div>
    <div class="form-group d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">hinzufügen</button>
    </div>
</form>